<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ANK - Your Ecommerce Destination</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        *{
            margin:0;
            padding:0;
        }
        html,
        body {
            overflow-x: hidden;
        }
    </style>
</head>

<body>

    <div class="h-screen w-screen flex flex-col items-center" style="background-image: url('/static/Ecommerce/background.jpg'); background-size: cover;">
        <nav id="navbar" class="w-screen bg-transparent text-white font-bold text-lg items-center w-full">
            <div class="container flex justify-between items-center px-4">
                <!-- Logo -->
                <div>
                    <a href="{% url 'home' %}" class="text-xl font-bold flex items-center">
                        <img src="/static/Ecommerce/logo.png" class="h-20 w-24 rounded-full" alt="Logo">
                    </a>
                </div>

                <!-- Navigation Links -->
                <div class="flex items-center">
                    {% if name.is_authenticated %}
                    <a href="{% url 'items_cart' %}" class="hover:text-red-600 flex items-center">
                        <img src="https://png.pngtree.com/png-clipart/20190920/original/pngtree-shopping-cart-convenient-icon-png-image_4637407.jpg" class="h-10 w-10 rounded-full mr-3" alt="Cart Icon">
                        <span class="font-semibold">Cart</span>
                    </a>
                    <a href="{% url 'log_out' %}" class="hover:text-red-600 flex items-center">
                        <img src="https://w7.pngwing.com/pngs/475/85/png-transparent-computer-icons-logout-angle-text-black.png" class="h-10 w-10 rounded-lg" alt="logout">
                        <span class="font-semibold">Logout</span>
                    </a>
                    {% else %}
                    <div class="flex gap-7">
                        <a href="#footer" class="hover:text-red-600">About</a>
                        <a href="#product" class="hover:text-red-600">Products</a>
                        <a href="{% url 'signin' %}" class="hover:text-red-600">Login</a>
                        <a href="{% url 'signup' %}" class="hover:text-red-600">Signup</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="text-yellow-200 flex flex-col justify-center items-center gap-10 mt-20 sm:mt-40 md:mt-56 px-4 bg-">
            <h1 class="text-4xl sm:text-6xl font-medium text-center">Our Summer Sale Is Finally Here</h1>
            <p class="text-2xl sm:text-3xl">20% Off Site Wide</p>
            <button class="items-center bg-red-600 text-black text-xl font-medium rounded-3xl p-2 border border-solid-black" style="border-color: black;"><a href="#product" class="hover:text-white">Shop Now</a></button>
        </div>
    </div>
    <div id="product">
    {% block content %}{% endblock %}
    </div>
    <footer id="footer">
    <div class="bg-gray-900 flex flex-col mb-0">
            <h1 class="text-white font-medium text-3xl mt-2 text-center">Get In Touch</h1>
            <div class="flex flex-col md:flex-row justify-around">
                <div class="flex flex-col w-full md:w-[385px] text-white">
                    <label htmlFor="name" class="pt-1">Name</label>
                    <input type="text" class="bg-gray-900 border-b-2 border-gray-500 focus:outline-none cursor-pointer"/>
                    <label htmlFor="email" class="pt-1">Email</label>
                    <input type="text" class="bg-gray-900 border-b-2 border-gray-500 focus:outline-none cursor-pointer"/>
                    <label htmlFor="subject" class="pt-1">Subject</label>
                    <input type="text" class="bg-gray-900 border-b-2 border-gray-500 focus:outline-none cursor-pointer"/>
                    <label htmlFor="message" class="pt-1">Message</label>
                    <input type="text" class="bg-gray-900 border-b-2 border-gray-500 focus:outline-none cursor-pointer pt-2"/>
                    <button class="bg-red-600 mt-2 px-2 py-2 text-white">Send</button>
                </div>
                <div class="w-full md:w-1/3 flex flex-col mt-4 md:mt-0 gap-2">
                    <p class="text-white text-2xl text-center">Contact Information</p>
                    <p class="text-white md:text-base text-left">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris malesuada gravida libero at tempus. Interdum et malesuada fames ac ante ipsum primis in faucibus. In ac rutrum urna.
                    </p>
                    <a href="#" class="text-white flex"><MdLocationPin class="text-white text-xl"/> Kalanki, Kathmandu, Nepal</a>
              <a href="#" class="text-white flex"><IoIosMail class="text-white text-xl"/>testing@testing.com</a>
              <a href="#" class="text-white flex"><FaPhoneAlt class="text-white text-xl"/>+977 9376745784</a>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
