{% extends 'base_layout.html' %}

{% block content %}

	<div class="container flex flex-row flex-wrap mt-8 ml-52">
	    
	    {% for o in objects %}
	    <div class="p-4 rounded-md shadow-md m-4  bg-blue-400 text-center">
			<img src="{{ o.image.url }}" alt="Your Image" class="h-40 w-40">
			<p>{{ o.name }}</p>
			<p>${{ o.price }}</p>
			{% if name.is_authenticated %}
			<form method="POST" action="{% url 'add_to_cart' o.id %}">
	            {% csrf_token %}
	            <input type="submit" value="Add to Cart" class="hover:font-bold">
	        </form>
	        {% endif %}
	    </div>
		{% endfor %}
	    
	</div>
{% endblock %}