{% extends 'base_layout.html' %}

{% block content %}

<div class="">
    <div class="">
        {% for o in objects %}
        <div class="">
            <img src="{{ o.image.url }}" alt="{{ o.name }}" class="">
            <div class="p-4">
                <p class="">{{ o.name }}</p>
                <p class="">${{ o.price }}</p>
                {% if name.is_authenticated %}
                <form method="POST" action="{% url 'add_to_cart' o.id %}" id="cart-form">
                    {% csrf_token %}
                    <button type="submit"
                        class="">
                        Add to Cart
                    </button>
                </form>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
