{% extends 'base_layout.html' %}

{% block content %}

<div class="flex items-center justify-center pt-4">
    <div class="bg-gradient-to-r from-pink-500 to-purple-500 p-4 sm:p-8 rounded-md shadow-md w-full sm:w-2/3 md:w-1/2 lg:w-1/3 xl:w-1/4">
        <form method="POST" action="{% url 'signup' %}" class="flex flex-col pt-2 pb-2">
            <h1 class="text-center uppercase font-bold text-white text-lg sm:text-xl mb-4">Signup</h1>
            {% csrf_token %}
            {{ form}}
            <button type="submit"
                class="mt-6 bg-yellow-400 w-full p-2 rounded-full hover:bg-purple-300 hover:rounded-lg focus:outline-none focus:shadow-outline-purple">
                Submit
            </button>
        </form>
    </div>
</div>

{% endblock %}
